@page
@model AutoOnderdelenSite.Pages.BedrijfUserPaginaModel
@{
}

<h2>Dit is de pagina van @Model.Bedrijf.UserName</h2>

<form method="post"><button class="btn btn-primary"> Logout </button></form>

<a class="btn btn-primary" asp-page="MainPage"> Homepage </a>