@page
@model AutoOnderdelenSite.Pages.ParticulierUserPaginaModel
@{
}

<h2>Dit is de pagina van @Model.Particulier.UserName</h2>

<form method="post"><button class="btn btn-primary"> Logout </button></form>

<a class="btn btn-primary" asp-page="MainPage"> Homepage </a>