@page
@model AutoOnderdelenSite.Pages.UserAanmakenModel
@{
}

<a class="btn btn-primary" asp-page="MainPage"> Annuleer </a>
<a class="btn btn-primary" asp-page="ParticulierAanmaken"> Particulier </a>
<a class="btn btn-primary" asp-page="BedrijfAanmaken"> Bedrijf </a>