@page
@model AutoOnderdelenSite.Pages.WikiBedrijfModel
@{
    ViewData["Title"] = "BedrijfsArtikel";
}
<h3>Nieuw BedrijfsArtikel Toevoegen</h3>

 <form method="post">

    <div class="form-group">
        <label for="Product">Product</label>
        <select asp-for="ProductIdInput" name="ProductIdInput" id="ProductIdInput">
            @foreach (Models.Product _product in Model.products)
            {
                <option value="@_product.ProductId">@_product.ProductNaam</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Omschrijving">Omschrijving</label>
        <input type="text" asp-for="WikiOmschrijving" name="WikiOmschrijving" id="WikiOmschrijving" ass="form-control" />
    </div>

    <hr />
    <button type="submit" class="btn btn-primary">Opslaan</button>
</form> 
